
{% extends 'base.html' %}

{% block content %}
<h1>Showing Flights</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Origin Airport</th>
            <th scope="col">Destination Airport</th>
            <th scope="col">Flight</th>
            <th scope="col">Departure</th>
            <th scope="col">Arrival</th>
        </tr>
    </thead>

    <tbody>
        {% for flight in flights %}
            <tr>
                <td>{{ flight.origin.airport_code }}</td>
                <td>{{ flight.destination.airport_code }}</td>
                <td>{{ flight.airline }}{{ flight.flight_number }}</td>
                <td>{{ flight.departure }}</td>
                <td>{{ flight.arrival }}</td>
            </tr>
        {% endfor %}




    </tbody>



</table>
{%endblock%}
